.preview-img {
    width: 30%;
    &:hover {
        img {
            opacity: 20%;
            cursor: pointer;
        }
        .delete-btn {
            visibility: visible;
        }
    }
}

.delete-btn {
    visibility: hidden;
}